body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SideMain {
  display: flex;
}

.Navbar {
  width: 100%;
  height: 50px;
  background-color: #282c34;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}

.Sidebar {
  width: 20%;
  background-color: #212121;
  color: #FFF;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
}

.Main {
  width: 80%;
}

.Link {
  text-decoration: none;
  background-color: #D23D74;
  color: #FFF;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.TableAndChart {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.Table {
  margin-bottom: 25px;
  height: 300px;
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

th{
  background: #ccc;
}

th,td{
  width: 250px;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.Chart {
  display: flex;
  width: 100%;
  min-height: 300px;
}

.Bar {
  width: 50%;
}

.Area {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .Table {
    width: 100%;
  }

  .Chart {
    flex-direction: column;
  }

  .Area {
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
  }

  .Bar {
    width: 100%;
    height: 300px;
  }

  .Link {
    margin-right: 0;
    margin-left: 0;
  }
  
  .TableAndChart {
    margin: 5px;
    padding: 5px;
  }
}